@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
.slider {
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }
  .slider .slider__wrapper {
    position: relative;
    overflow: hidden; }
    .slider .slider__wrapper .slider__items {
      display: flex; }
    .slider .slider__wrapper .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
      height: 100vh;
      transition: 0.6s; }
      .slider .slider__wrapper .slider__item img {
        object-fit: cover;
        height: 100vh;
        width: 100%; }
  .slider .slider__indicators {
    position: absolute;
    right: 0;
    bottom: 19px;
    left: 0;
    padding-left: 0;
    margin: 0 15%; }
    .slider .slider__indicators ul {
      display: flex;
      justify-content: center; }
    .slider .slider__indicators li {
      list-style: none;
      justify-content: center;
      width: 8px;
      height: 8px;
      background-color: white;
      border-radius: 8px;
      margin-right: 3px;
      margin-left: 3px;
      cursor: pointer; }
      .slider .slider__indicators li.active {
        background-color: #0EC261; }

.bg-dark {
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  width: 100%;
  height: 100vh;
  opacity: 0.5;
  z-index: 1;
  top: 0; }

.preImg {
  position: absolute;
  top: 25%;
  left: 10%;
  z-index: 3; }

.preImg__header {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: white; }

.preImg__footer {
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  color: #EEEEEE;
  width: 450px; }

.preImg__btn {
  margin-top: 32px; }

.preImg__btn > button {
  width: 164px;
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  border-radius: 4px;
  border: none;
  color: #EEEEEE;
  outline: none; }
  .preImg__btn > button:hover {
    cursor: pointer; }

.next {
  position: absolute;
  left: 2%;
  top: 49%; }

.next-top,
.next-bottom {
  position: absolute;
  background: white;
  height: 1px;
  width: 12px;
  z-index: 1; }

.next-top {
  transform: rotate(-45deg);
  transform-origin: top left; }

.next-bottom {
  transform: rotate(45deg);
  transform-origin: bottom left; }

.prev {
  position: absolute;
  right: 4%;
  top: 50%; }

.prev:hover {
  cursor: pointer; }

.prev-top,
.prev-bottom {
  position: absolute;
  background: white;
  height: 1px;
  width: 12px;
  z-index: 1; }

.prev-top {
  transform: rotate(45deg);
  transform-origin: bottom right; }

.prev-bottom {
  transform: rotate(-45deg);
  transform-origin: top right; }

.prev-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 6%;
  background-color: #0EC261;
  height: 100vh;
  transition: all 0.3s;
  opacity: 0;
  z-index: 2; }

.next-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 6%;
  background-color: #0EC261;
  height: 100vh;
  transition: all 0.3s;
  opacity: 0;
  z-index: 2; }

.prev-btn:hover, .next-btn:hover {
  cursor: pointer;
  opacity: 0.2; }

.header {
  width: 65px;
  height: 100vh;
  background-color: #151B1F; }
  .header .cover-element {
    position: relative;
    top: 30px;
    width: 100%;
    height: 100px;
    background-color: #151B1F;
    z-index: 2; }
    @media (max-width: 767px) {
      .header .cover-element {
        display: none; } }
  .header .menu__language {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    color: #0EC261;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    margin-bottom: 18px;
    left: 6px; }
    @media (max-width: 767px) {
      .header .menu__language {
        display: none; } }
    .header .menu__language:hover {
      border: 1px solid white;
      cursor: pointer;
      color: white; }
    .header .menu__language:active {
      color: #0EC261; }
  @media (max-width: 1023px) {
    .header {
      width: 85px; } }
  @media (max-width: 767px) {
    .header {
      width: 0; } }
  .header #menu__toggle {
    opacity: 0; }
    .header #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
      background-color: white; }
      .header #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
        background-color: white; }
      .header #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
        background-color: white; }
  .header .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 40px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3; }
    @media (max-width: 1023px) {
      .header .menu__btn {
        width: 31px; } }
    @media (max-width: 767px) {
      .header .menu__btn {
        width: 26px; } }
    .header .menu__btn > span {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: white;
      transition-duration: .25s; }
      @media (max-width: 767px) {
        .header .menu__btn > span {
          background-color: #151B1F; } }
      .header .menu__btn > span::before {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        transition-duration: .25s;
        content: '';
        top: -8px; }
        @media (max-width: 767px) {
          .header .menu__btn > span::before {
            background-color: #151B1F; } }
      .header .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        transition-duration: .25s;
        content: '';
        top: 8px; }
        @media (max-width: 767px) {
          .header .menu__btn > span::after {
            background-color: #151B1F; } }
  .header .menu__back {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100vh;
    background-color: #151B1F; }
    .header .menu__back.two {
      z-index: 2; }
    .header .menu__back ul {
      color: white;
      width: 200px;
      margin: 220px 0 39px 80px; }
      @media (max-width: 767px) {
        .header .menu__back ul {
          margin: 100px 0 39px -10px; } }
      .header .menu__back ul li {
        list-style-type: none;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 37px;
        margin: 3% 0 16px 0;
        transition: all .1s ease; }
        .header .menu__back ul li:hover {
          cursor: pointer;
          color: #0EC261; }
    .header .menu__back .social_media_emblems {
      margin-left: 95px; }
      @media (max-width: 767px) {
        .header .menu__back .social_media_emblems {
          margin-left: 5px; } }
      .header .menu__back .social_media_emblems img {
        margin-left: 24px;
        transition: all .1s ease; }
      .header .menu__back .social_media_emblems .bg_facebook:hover {
        filter: invert(56%) sepia(48%) saturate(1578%) hue-rotate(103deg) brightness(93%) contrast(89%); }
      .header .menu__back .social_media_emblems .bg_telegram:hover {
        filter: invert(56%) sepia(48%) saturate(1578%) hue-rotate(103deg) brightness(93%) contrast(89%); }
      .header .menu__back .social_media_emblems .bg_instagram:hover {
        filter: invert(56%) sepia(48%) saturate(1578%) hue-rotate(103deg) brightness(93%) contrast(89%); }
    .header .menu__back .menu__back__front-slider {
      position: absolute;
      width: 50%;
      height: 100vh;
      top: 0;
      opacity: 0.81;
      right: 0;
      background-color: #151B1F;
      z-index: 5; }
      @media (max-width: 1023px) {
        .header .menu__back .menu__back__front-slider {
          display: none; } }
    .header .menu__back .front-slider {
      display: none; }
      @media (max-width: 767px) {
        .header .menu__back .front-slider {
          display: flex; } }

.breadcrumb {
  margin-top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #999999; }
  @media (max-width: 767px) {
    .breadcrumb {
      font-size: 8px; } }
  @media (max-width: 1200px) {
    .breadcrumb {
      margin-top: 0px; } }
  .breadcrumb ul {
    padding: 0;
    margin-block-end: 0; }
    .breadcrumb ul:before {
      content: '';
      height: 0;
      display: block;
      left: 0;
      width: 100%;
      position: absolute;
      border-top: 1px solid #EEEEEE;
      z-index: 1; }
    .breadcrumb ul:after {
      content: '';
      height: 0;
      border-bottom: 1px solid #EEEEEE;
      position: absolute;
      left: 0;
      width: 100%;
      display: block;
      z-index: 1; }
    .breadcrumb ul li {
      display: inline-block;
      padding: 8px 0 8px 0; }
      .breadcrumb ul li.active {
        color: #0EC261; }
      .breadcrumb ul li.nonactive {
        color: black; }
      .breadcrumb ul li img {
        padding: 0 16px 0 16px; }
        @media (max-width: 767px) {
          .breadcrumb ul li img {
            padding: 0 22px 0 21px; } }
      .breadcrumb ul li a {
        text-decoration: none;
        color: black; }

.content__info-about-order {
  border-left: 1px solid #EEEEEE;
  height: 100vh;
  padding: 0 63px 0 32px; }
  @media (max-width: 1200px) {
    .content__info-about-order {
      padding: 0 4px 0 2px; } }
  .content__info-about-order .containers {
    display: flex;
    flex-direction: column;
    padding-top: 16px; }
    .content__info-about-order .containers .info-about-order__header {
      display: flex;
      justify-content: flex-end; }
      .content__info-about-order .containers .info-about-order__header p {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: #121212; }
    .content__info-about-order .containers .info-about-order__header__body {
      display: flex;
      flex-wrap: wrap;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px; }
      .content__info-about-order .containers .info-about-order__header__body .test {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 16px; }
        .content__info-about-order .containers .info-about-order__header__body .test .body__text {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          white-space: nowrap; }
        .content__info-about-order .containers .info-about-order__header__body .test .line {
          content: "";
          margin: 0 12px 0 12px;
          flex: 1 0 0;
          border-bottom: 1px dotted #999999; }
        .content__info-about-order .containers .info-about-order__header__body .test .body__point {
          color: #999999;
          display: flex;
          flex-direction: column;
          justify-content: end; }
          .content__info-about-order .containers .info-about-order__header__body .test .body__point .address {
            justify-content: flex-end; }
          .content__info-about-order .containers .info-about-order__header__body .test .body__point .city, .content__info-about-order .containers .info-about-order__header__body .test .body__point .address {
            text-align: right; }
    .content__info-about-order .containers .info-about-order__header__footer {
      flex-direction: column;
      margin-top: 16px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px; }
      .content__info-about-order .containers .info-about-order__header__footer button {
        margin-top: 32px;
        width: 287px;
        height: 48px;
        border-radius: 8px;
        outline: none;
        background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: white;
        border: none; }
        .content__info-about-order .containers .info-about-order__header__footer button:disabled {
          background: #EEEEEE; }
        .content__info-about-order .containers .info-about-order__header__footer button:hover {
          cursor: pointer; }
        .content__info-about-order .containers .info-about-order__header__footer button.btn__success-page {
          background: linear-gradient(90deg, #493013 0%, #7B0C3B 100%); }

.kUkGqE_bR7FcRdDabg0uB {
  display: flex;
  justify-content: flex-end;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px; }
  .kUkGqE_bR7FcRdDabg0uB input {
    width: 224px;
    border: none;
    border-bottom: 1px solid #999999;
    outline: none;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;
    text-indent: 8px; }
  .kUkGqE_bR7FcRdDabg0uB ._2aCBj8o5bcQ_sXDeXPceEt {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    width: 100%; }
    .kUkGqE_bR7FcRdDabg0uB ._2aCBj8o5bcQ_sXDeXPceEt ul {
      position: absolute;
      width: 224px;
      right: 0;
      top: 0;
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: auto;
      max-height: 106px;
      color: #999999;
      border: 1px solid #EEEEEE;
      background-color: white; }
      .kUkGqE_bR7FcRdDabg0uB ._2aCBj8o5bcQ_sXDeXPceEt ul::-webkit-scrollbar {
        width: 5px;
        background-color: white; }
      .kUkGqE_bR7FcRdDabg0uB ._2aCBj8o5bcQ_sXDeXPceEt ul::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #BFBFBF; }
      .kUkGqE_bR7FcRdDabg0uB ._2aCBj8o5bcQ_sXDeXPceEt ul::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: #f9f9fd; }
      .kUkGqE_bR7FcRdDabg0uB ._2aCBj8o5bcQ_sXDeXPceEt ul li:hover {
        cursor: pointer;
        color: #0EC261; }

.G7Vs6OHPF6DhthOHZjWVG {
  display: flex;
  flex-direction: column;
  width: 335px; }
  .G7Vs6OHPF6DhthOHZjWVG ._11D6M-nIp__hNYOU9eRpm5 {
    margin: 32px 0 12px 0; }

._1l_hNffMU0rESrp-mn1FZz {
  display: none;
  width: 100%;
  justify-content: flex-end; }
  ._1l_hNffMU0rESrp-mn1FZz img {
    margin: 0 60px 0 0; }
  @media (max-width: 1200px) {
    ._1l_hNffMU0rESrp-mn1FZz {
      display: flex; } }
  @media (max-width: 767px) {
    ._1l_hNffMU0rESrp-mn1FZz img {
      margin: 0 15px 0 0; } }
  ._1l_hNffMU0rESrp-mn1FZz ._12bNfsi3HM4NeG_1thFSu9 {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 3;
    background-color: black;
    opacity: 0.2; }
  ._1l_hNffMU0rESrp-mn1FZz .oRUpHxz55GcSE8sWztW6E {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    border-left: 1px solid #EEEEEE;
    background-color: white;
    z-index: 4; }
    ._1l_hNffMU0rESrp-mn1FZz .oRUpHxz55GcSE8sWztW6E .J8ELDFUL24bUtz8YkiBTt span {
      position: relative;
      top: 0;
      right: 0;
      margin: 20px 20px 0 0; }
    ._1l_hNffMU0rESrp-mn1FZz .oRUpHxz55GcSE8sWztW6E ._1aLQlxssJOCajvhcHvzec8 {
      width: 100%; }
      ._1l_hNffMU0rESrp-mn1FZz .oRUpHxz55GcSE8sWztW6E ._1aLQlxssJOCajvhcHvzec8 .s0pcFPTdHcYs2ZH6XGaGo {
        padding: 0 4px 0 8px; }

._2Sb7UmNVbQMlxkU0mAtvb-,
._2Sb7UmNVbQMlxkU0mAtvb-:before,
._2Sb7UmNVbQMlxkU0mAtvb-:after {
  border-radius: 50%; }

._2Sb7UmNVbQMlxkU0mAtvb- {
  color: #0EC261;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }
  ._2Sb7UmNVbQMlxkU0mAtvb-:before, ._2Sb7UmNVbQMlxkU0mAtvb-:after {
    position: absolute;
    content: ''; }
  ._2Sb7UmNVbQMlxkU0mAtvb-:before {
    width: 5.2em;
    height: 10.2em;
    background: white;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.1em 5.1em;
    transform-origin: 5.1em 5.1em;
    -webkit-animation: _253JsH3loLLAuZ_5GvwLKW 2s infinite ease 1.5s;
    animation: _253JsH3loLLAuZ_5GvwLKW 2s infinite ease 1.5s; }
  ._2Sb7UmNVbQMlxkU0mAtvb-:after {
    width: 5.2em;
    height: 10.2em;
    background: white;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 4.9em;
    -webkit-transform-origin: 0.1em 5.1em;
    transform-origin: 0.1em 5.1em;
    -webkit-animation: _253JsH3loLLAuZ_5GvwLKW 2s infinite ease;
    animation: _253JsH3loLLAuZ_5GvwLKW 2s infinite ease; }

@-webkit-keyframes _253JsH3loLLAuZ_5GvwLKW {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes _253JsH3loLLAuZ_5GvwLKW {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.form_radio {
  padding-top: 32px; }
  .form_radio.color-page {
    padding-top: 16px; }
  .form_radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
    margin-right: 16px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    user-select: none;
    color: #999999; }
    .form_radio label:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 18px;
      position: absolute;
      left: 0;
      top: 1px;
      background: url(3de19ed88082fcb489146681cd0f2ed0.png) 0 0 no-repeat; }
  .form_radio input[type=radio] {
    display: none; }
    .form_radio input[type=radio]:checked + label {
      color: black; }
      .form_radio input[type=radio]:checked + label:before {
        background: url(8e8614885eba2825634326eeb0008672.png) 0 0 no-repeat; }

.testest {
  height: calc(100vh - 224px);
  overflow: auto;
  margin-top: 48px; }
  .testest .cars__list {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 767px) {
      .testest .cars__list {
        max-width: 322px; } }
    .testest .cars__list .cars__card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 368px;
      height: 224px;
      border: 1px solid #EEEEEE; }
      .testest .cars__list .cars__card .card__header {
        margin: 16px 0 0 16px;
        text-transform: uppercase; }
        .testest .cars__list .cars__card .card__header .header__name span {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 21px; }
        .testest .cars__list .cars__card .card__header .header__price span {
          font-style: normal;
          font-weight: normal;
          font-size: 17px;
          line-height: 16px;
          color: #999999; }
      .testest .cars__list .cars__card .card__image {
        display: flex; }
        .testest .cars__list .cars__card .card__image img {
          object-fit: cover;
          margin-left: auto;
          width: 256px;
          height: 116px; }
      .testest .cars__list .cars__card:hover {
        border: 1px solid #999999;
        cursor: pointer; }
      .testest .cars__list .cars__card:active {
        border: 1px solid #0EC261; }

._3Gc_CuP6aE-BOpGZSvRMl3 {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 32px; }
  ._3Gc_CuP6aE-BOpGZSvRMl3 span {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px; }
  ._3Gc_CuP6aE-BOpGZSvRMl3 ._1oLpr8gumjOVFMAaaoAa2L {
    margin-bottom: 32px; }
    ._3Gc_CuP6aE-BOpGZSvRMl3 ._1oLpr8gumjOVFMAaaoAa2L input {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 16px;
      margin-left: 10px;
      margin-bottom: 13px;
      width: 100%;
      border-width: 0;
      border-bottom: 1px solid black;
      text-indent: 8px;
      outline: none; }
  ._3Gc_CuP6aE-BOpGZSvRMl3 ._17GuewRhTDKzSnx-tJvw2F {
    margin-bottom: 32px; }
  ._3Gc_CuP6aE-BOpGZSvRMl3 .OBO1Gmhvf1Wjmu4HJ8TpC {
    margin-bottom: 32px; }

._1ICpPgm7RpY7Rx-hd8kZkB {
  margin-top: 16px; }
  ._1ICpPgm7RpY7Rx-hd8kZkB input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
    ._1ICpPgm7RpY7Rx-hd8kZkB input + label {
      display: inline-flex;
      align-items: center;
      margin-bottom: 8px;
      user-select: none;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: #999999; }
      ._1ICpPgm7RpY7Rx-hd8kZkB input + label:hover {
        cursor: pointer; }
      ._1ICpPgm7RpY7Rx-hd8kZkB input + label::before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #999999;
        margin-right: 8px;
        background-repeat: no-repeat;
        background-position: center center; }
    ._1ICpPgm7RpY7Rx-hd8kZkB input:checked + label {
      color: black; }
      ._1ICpPgm7RpY7Rx-hd8kZkB input:checked + label::before {
        border-color: #0EC261;
        background: url(f25e94480a05e8a2049e0f8b3e4435e6.svg) 0 0 no-repeat; }

._1Pd-vUXU8nnEFTt4KQ4_NV {
  margin: 16px 0 0 0; }
  ._1Pd-vUXU8nnEFTt4KQ4_NV ._2bnZdb4OkaASTtj5x-QN8n {
    margin: 0 0 8px 0; }
    ._1Pd-vUXU8nnEFTt4KQ4_NV ._2bnZdb4OkaASTtj5x-QN8n label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-left: 20px;
      margin-right: 16px;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      user-select: none;
      color: #999999; }
      ._1Pd-vUXU8nnEFTt4KQ4_NV ._2bnZdb4OkaASTtj5x-QN8n label:before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 1px;
        background: url(3de19ed88082fcb489146681cd0f2ed0.png) 0 0 no-repeat; }
    ._1Pd-vUXU8nnEFTt4KQ4_NV ._2bnZdb4OkaASTtj5x-QN8n input[type=radio] {
      display: none; }
      ._1Pd-vUXU8nnEFTt4KQ4_NV ._2bnZdb4OkaASTtj5x-QN8n input[type=radio]:checked + label {
        color: black; }
        ._1Pd-vUXU8nnEFTt4KQ4_NV ._2bnZdb4OkaASTtj5x-QN8n input[type=radio]:checked + label:before {
          background: url(8e8614885eba2825634326eeb0008672.png) 0 0 no-repeat; }

._2IEXHeEgEMCru2KRxwEYS {
  display: flex;
  flex-direction: column;
  width: 256px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  padding-top: 16px; }
  ._2IEXHeEgEMCru2KRxwEYS .j9fScACsjAxTmCAPE8Ech {
    display: flex;
    justify-content: flex-end; }
    ._2IEXHeEgEMCru2KRxwEYS .j9fScACsjAxTmCAPE8Ech label {
      align-items: center; }
    ._2IEXHeEgEMCru2KRxwEYS .j9fScACsjAxTmCAPE8Ech input {
      width: 224px;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px; }
  ._2IEXHeEgEMCru2KRxwEYS ._1VNVmRcRpRqWi-NdqnuivV input {
    width: 224px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px; }

._3uyUIT2cE6E5KAnin1wMAH {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  opacity: 0.9;
  z-index: 10; }
  ._3uyUIT2cE6E5KAnin1wMAH ._3hggwTyStc4-jE5Gyh4qe3 {
    flex-direction: column; }
    ._3uyUIT2cE6E5KAnin1wMAH ._3hggwTyStc4-jE5Gyh4qe3 ._1kDAaanJ0OxeCJUAyvnZzS {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      display: flex;
      justify-content: center; }
    ._3uyUIT2cE6E5KAnin1wMAH ._3hggwTyStc4-jE5Gyh4qe3 .FAju9ecmeE_CHk3rtex_5 {
      margin-top: 32px; }
      ._3uyUIT2cE6E5KAnin1wMAH ._3hggwTyStc4-jE5Gyh4qe3 .FAju9ecmeE_CHk3rtex_5 button {
        color: white;
        width: 177px;
        height: 48px;
        outline: none;
        border-radius: 8px;
        border: none;
        margin-left: 16px; }
        ._3uyUIT2cE6E5KAnin1wMAH ._3hggwTyStc4-jE5Gyh4qe3 .FAju9ecmeE_CHk3rtex_5 button:hover {
          cursor: pointer; }
        ._3uyUIT2cE6E5KAnin1wMAH ._3hggwTyStc4-jE5Gyh4qe3 .FAju9ecmeE_CHk3rtex_5 button:first-child {
          background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%); }
        ._3uyUIT2cE6E5KAnin1wMAH ._3hggwTyStc4-jE5Gyh4qe3 .FAju9ecmeE_CHk3rtex_5 button:last-child {
          background: linear-gradient(90deg, #493013 0%, #7B0C3B 100%); }

._14jbiZfNlDaAoIX5BvF4aZ {
  display: flex;
  margin-top: 32px;
  font-style: normal;
  font-size: 14px;
  line-height: 16px; }
  @media (max-width: 425px) {
    ._14jbiZfNlDaAoIX5BvF4aZ {
      flex-direction: column; } }
  ._14jbiZfNlDaAoIX5BvF4aZ .vMtrxw-Zde4vOQDFWq2L4 {
    flex: 1 0 25%;
    display: flex;
    flex-direction: column; }
    ._14jbiZfNlDaAoIX5BvF4aZ .vMtrxw-Zde4vOQDFWq2L4 ._1c6-ypOV0-3qmneRHEdZxe {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
      margin-bottom: 8px; }
    ._14jbiZfNlDaAoIX5BvF4aZ .vMtrxw-Zde4vOQDFWq2L4 .dmxrGaq3tft7oHIgUSZHI {
      margin-top: 6px;
      text-transform: uppercase; }
      ._14jbiZfNlDaAoIX5BvF4aZ .vMtrxw-Zde4vOQDFWq2L4 .dmxrGaq3tft7oHIgUSZHI span {
        padding: 3px;
        border: 1px solid #999999;
        border-radius: 4px; }
    ._14jbiZfNlDaAoIX5BvF4aZ .vMtrxw-Zde4vOQDFWq2L4 ._3vIpO0Hx6Bh3_p5xQ73Kke {
      margin-top: 12px;
      margin-bottom: 6px; }
  ._14jbiZfNlDaAoIX5BvF4aZ ._1NXZZcOlvRXinycNBXW80e {
    flex: 1 0 25%; }
    ._14jbiZfNlDaAoIX5BvF4aZ ._1NXZZcOlvRXinycNBXW80e img {
      object-fit: cover;
      margin-left: auto;
      width: 256px;
      height: 116px; }

._3PQcUJfBfba7zH4PGvfjxi {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  ._3PQcUJfBfba7zH4PGvfjxi .sPW8TtZGddeYumcW_Bjm- {
    font-style: normal;
    font-weight: 500;
    font-size: 75px;
    line-height: 88px;
    color: #CACEDB; }
  ._3PQcUJfBfba7zH4PGvfjxi ._38LIGaFlpbx0l0rm7bCv8W {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 0;
    color: #3D5170; }
    @media (max-width: 425px) {
      ._3PQcUJfBfba7zH4PGvfjxi ._38LIGaFlpbx0l0rm7bCv8W {
        font-size: 30px; } }
  ._3PQcUJfBfba7zH4PGvfjxi ._2P6J3c7HH5K7WbIpTTrAGb {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 0;
    color: #818EA3;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (max-width: 425px) {
      ._3PQcUJfBfba7zH4PGvfjxi ._2P6J3c7HH5K7WbIpTTrAGb {
        font-size: 16px; } }
    ._3PQcUJfBfba7zH4PGvfjxi ._2P6J3c7HH5K7WbIpTTrAGb button {
      width: 95px;
      height: 29px;
      margin-top: 28px;
      background: #0EC261;
      outline: none;
      border: none;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 13px;
      text-align: center;
      color: white; }
      ._3PQcUJfBfba7zH4PGvfjxi ._2P6J3c7HH5K7WbIpTTrAGb button:hover {
        cursor: pointer; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden; }

.wrapper.other-page {
  display: flex; }

.container {
  display: flex; }
  .container.other-page {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto; }
  .container .content {
    margin: 0 0 0 65px;
    flex: 0 1 45%;
    display: flex;
    flex-direction: column; }
    .container .content .content__main {
      display: flex; }
      .container .content .content__main .main__params {
        flex: 1 0 69%; }
        .container .content .content__main .main__params .params__map {
          max-width: 736px;
          margin-top: 45px; }
          @media (max-width: 767px) {
            .container .content .content__main .main__params .params__map {
              margin-right: 16px; } }
          .container .content .content__main .main__params .params__map img {
            margin-top: 16px;
            width: 100%;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px; }
      .container .content .content__main .content__info {
        width: 100%; }
        @media (max-width: 1200px) {
          .container .content .content__main .content__info {
            display: none; } }
    .container .content.other-page {
      flex: 1 0 90%; }
    @media (max-width: 1024px) {
      .container .content {
        margin: 0 0 0 20px; } }
    @media (max-width: 1023px) {
      .container .content {
        flex: 0 1 100%; } }
    .container .content .content__header {
      margin: 35px 0 0 0;
      display: flex;
      align-items: center; }
      .container .content .content__header .header__logo {
        flex: 1 0 auto;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        color: #0EC261; }
        @media (max-width: 767px) {
          .container .content .content__header .header__logo {
            margin: 0 16px 0 0; } }
      .container .content .content__header .header__city {
        display: flex;
        align-items: center; }
        .container .content .content__header .header__city p {
          margin: 0 60px 0 7px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #999999; }
          @media (max-width: 767px) {
            .container .content .content__header .header__city p {
              margin: 0 16px 0 7px; } }
          .container .content .content__header .header__city p:hover {
            cursor: default; }
      @media (max-width: 767px) {
        .container .content .content__header {
          flex-direction: column;
          align-items: flex-end; } }
    .container .content .content__hero-block {
      margin: 100px 0 0 0; }
      @media (max-width: 767px) {
        .container .content .content__hero-block {
          margin: 30px 16px 0 0; } }
      .container .content .content__hero-block .hero-block__header {
        font-style: normal;
        font-weight: bold;
        font-size: 70px; }
        @media (max-width: 767px) {
          .container .content .content__hero-block .hero-block__header {
            font-size: 32px; } }
        .container .content .content__hero-block .hero-block__header p:first-child {
          color: #121212;
          line-height: 0; }
        .container .content .content__hero-block .hero-block__header p:last-child {
          color: #0EC261;
          line-height: 0; }
      .container .content .content__hero-block .hero-block__footer {
        font-style: normal;
        font-weight: 300;
        font-size: 26px;
        line-height: 1;
        color: #999999; }
        @media (max-width: 767px) {
          .container .content .content__hero-block .hero-block__footer {
            font-size: 18px;
            line-height: 1; } }
        @media (max-width: 1024px) {
          .container .content .content__hero-block .hero-block__footer {
            font-size: 24px; } }
      @media (max-width: 767px) {
        .container .content .content__hero-block .hero__block__btn {
          width: 100%; } }
      .container .content .content__hero-block .hero__block__btn button {
        margin: 40px 0 0 0;
        height: 48px;
        width: 250px;
        background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
        background-blend-mode: darken;
        border-radius: 8px;
        color: white;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        border: none;
        outline: none; }
        .container .content .content__hero-block .hero__block__btn button:hover {
          cursor: pointer;
          background: linear-gradient(90deg, #0B934A 2.61%, #026E47 112.6%); }
        @media (max-width: 767px) {
          .container .content .content__hero-block .hero__block__btn button {
            margin: 40px 0 0 0;
            width: 100%;
            border-radius: 0; } }
    .container .content .content__footer {
      display: flex;
      height: 100%;
      align-items: flex-end;
      margin: 0 0 20px 0; }
      @media (max-width: 767px) {
        .container .content .content__footer {
          background-color: #151B1F;
          flex-direction: column-reverse;
          margin-top: auto;
          height: 55px;
          margin-bottom: 0;
          margin-left: -20px; } }
      .container .content .content__footer .footer__info {
        flex: 1 0 auto; }
        @media (max-width: 767px) {
          .container .content .content__footer .footer__info {
            margin: 0 16px 0 0; } }
        .container .content .content__footer .footer__info p {
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 15px;
          color: #999999; }
          @media (max-width: 767px) {
            .container .content .content__footer .footer__info p {
              line-height: 0; } }
      .container .content .content__footer .footer__phone {
        margin: 0 60px 0 0; }
        @media (max-width: 767px) {
          .container .content .content__footer .footer__phone {
            margin: 0 16px 0 0; } }
        .container .content .content__footer .footer__phone p {
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 15px;
          color: #121212; }
          @media (max-width: 767px) {
            .container .content .content__footer .footer__phone p {
              line-height: 0;
              color: #0EC261; } }
  .container .carousel {
    flex: 0 1 48%; }
    @media (max-width: 1023px) {
      .container .carousel {
        display: none; } }

