.container {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  span {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
  }
  .select__date {
    margin-bottom: 32px;
    input {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 16px;
      margin-left: 10px;
      margin-bottom: 13px;
      width: 100%;
      border-width: 0;
      border-bottom: 1px solid black;
      text-indent: 8px;
      outline: none;
    }
  }
  .select__rate {
    margin-bottom: 32px;
  }
  .select__colors {
    margin-bottom: 32px;
  }
}