@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$bc-header: #151B1F;
$main-color: #0EC261;
$gray: #999999;

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  &.other-page {
    display: flex;
  }
}

.container {
  display: flex;
  &.other-page {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
  }
  .content {
    margin: 0 0 0 65px;
    flex: 0 1 45%;
    display: flex;
    flex-direction: column;
    .content__main {
      display: flex;
      .main__params {
        flex: 0 0 69%;
        .params__map {
          max-width: 736px;
          margin-top: 45px;
          img {
            margin-top: 16px;
            width: 100%;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
    &.other-page {
      flex: 1 0 90%;
    }
    @media (max-width: 1024px) {
      margin: 0 0 0 20px;
    }
    @media (max-width: 1023px) {
      flex: 0 1 100%;
    }
    .content__header {
      margin: 35px 0 0 0;
      display: flex;
      align-items: center;
      .header__logo {
        //font-family: Roboto;
        flex: 1 0 auto;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        color: $main-color;
        @media (max-width: 767px) {
          margin: 0 16px 0 0;
        }
      }
      .header__city {
        display: flex;
        align-items: center;
        p {
          margin: 0 60px 0 7px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: $gray;
          @media (max-width: 767px) {
            margin: 0 16px 0 7px;
          }
        }
      }
      @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-end;
      }
    }
    .content__hero-block {
      margin: 100px 0 0 0;
      @media (max-width: 767px) {
        margin: 30px 16px 0 0;
      }
      .hero-block__header {
        font-style: normal;
        font-weight: bold;
        font-size: 70px;
        @media (max-width: 767px) {
          font-size: 32px;
        }
        p {
          &:first-child {
            color: #121212;
            line-height: 0;
          }
          &:last-child {
            color: $main-color;
            line-height: 0;
          }
        }
      }
      .hero-block__footer {
        font-style: normal;
        font-weight: 300;
        font-size: 26px;
        line-height: 1;
        color: $gray;
        @media (max-width: 767px) {
          font-size: 18px;
          line-height: 1;
        }
      }
      .hero__block__btn {
        @media (max-width: 767px) {
          width: 100%;
        }
        button {
          margin: 40px 0 0 0;
          height: 48px;
          width: 250px;
          background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
          background-blend-mode: darken;
          border-radius: 8px;
          color: white;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          border: none;
          outline: none;
          &:hover {
            cursor: pointer;
          }
          @media (max-width: 767px) {
            margin: 40px 0 0 0;
            width: 100%;
            border-radius: 0;
          }
        }
      }
    }
    .content__footer {
      display: flex;
      height: 100%;
      align-items: flex-end;
      margin: 0 0 20px 0;
      @media (max-width: 767px) {
        background-color: $bc-header;
        flex-direction: column-reverse;
        margin-top: auto;
        height: 10%;
        margin-bottom: 0;
        margin-left: -20px;
      }
      .footer__info {
        flex: 1 0 auto;
        @media (max-width: 767px) {
          margin: 0 16px 0 0;
        }
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 15px;
          color: $gray;
          @media (max-width: 767px) {
            line-height: 0;
          }
        }
      }
      .footer__phone {
        margin: 0 60px 0 0;
        @media (max-width: 767px) {
          margin: 0 16px 0 0;
        }
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 15px;
          color: #121212;
          @media (max-width: 767px) {
            line-height: 0;
            color: $main-color;
          }
        }
      }
    }
  }
  .carousel {
    flex: 0 1 48%;
    @media (max-width: 1023px) {
      display: none;
    }
  }
}