.testest {
  height: calc(100vh - 224px);
  overflow: auto;
  margin-top: 48px;
  .cars__list {
    display: flex;
    flex-wrap: wrap;
    padding-right: 16px;
    .cars__card {
      display:flex;
      flex-direction:column;
      justify-content: space-between;
      flex: 1 1 49%;
      height: 224px;
      border: 1px solid #EEEEEE;
      &.selected {
        border: 1px solid #0EC261;
      }
      .card__header {
        margin: 16px 0 0 16px;
        text-transform: uppercase;
        .header__name {
          span {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
          }
        }
        .header__price {
          span {
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 16px;
            color: #999999;
          }
        }
      }
      .card__image {
        display: flex;
        img {
          object-fit: contain;
          margin-left: auto;
          width: 269px;
          height: 128px;
          padding: 0 10px 15px 0;
        }
      }
      &:hover {
        border: 1px solid #999999;
        cursor: pointer;
      }
      &:active {
        border: 1px solid #0EC261;
      }
    }
  }
}