.autocomplete {
  width: 315px;
  margin-top: 32px;
  &.main-page {
    width: 200px;
    margin-top: 0;
    margin-right: 55px;
  }
  @media (max-width: 767px) {
    width: 320px;
  }
  ul {
    position: absolute;
    margin: 20px 0 0 105px;
    padding: 0 0 0 8px;
    width: 193px;
    height: 160px;
    overflow-y: auto;
    list-style: none;
    color: #999999;
    border: 1px solid #EEEEEE;
    border-top: none;
    background-color: white;
    li {
      color: #999999;
      &:hover {
        cursor: pointer;
        color: #0EC261;
      }
    }
    &::-webkit-scrollbar {
      width: 5px;
      background-color: white;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #BFBFBF;
    }
    &::-webkit-scrollbar-track {
      border-radius: 5px;
      background-color: #f9f9fd;
    }
  }
  .forms__city, .forms__point {
    display: flex;
    align-content: center;
    margin-bottom: 15px;
    &.main-page {
      margin-bottom: 0;
    }
    input {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        margin-left: 10px;
        width: 100%;
        border-width: 0;
        border-bottom: 1px solid black;
        text-indent: 8px;
        outline: none;
      }
    label {
      width: 150px;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      &:first-child {
        text-align: end;
      }
    }
  }
}

//.autocomplete > ul::-webkit-scrollbar {
//  width: 5px;
//  background-color: white;
//}
//
//.autocomplete > ul::-webkit-scrollbar-thumb {
//  border-radius: 5px;
//  background-color: #BFBFBF;
//}
//
//.autocomplete > ul::-webkit-scrollbar-track {
//  border-radius: 5px;
//  background-color: #f9f9fd;
//}


//.form-group {
//  display: flex;
//  align-content: center;
//}
//
//.form-group > input {
//  width: 100%;
//  border-width: 0;
//  border-bottom: 1px solid black;
//  text-indent: 8px;
//  outline: none;
//}
//
//.autocomplete > ul {
//  margin: 0;
//  padding: 0 0 0 8px;
//  width: 97.5%;
//  height: 160px;
//  overflow-y: auto;
//  list-style: none;
//  color: #999999;
//  border: 1px solid #EEEEEE;
//  border-top: none;
//}
//
//.autocomplete > li {
//  color: #999999;
//}
//
//ul > li:hover {
//  cursor: pointer;
//  color: #0EC261;
//}